body{
  font-family: Arial;
}

.form{
  text-align: center;
  width: 50%;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
}

.links{
  text-align: right;
  height: 200px;
}

.logo{
  margin:20px;
  height:"92";
  width:"272";
}

.searchbar{
  margin-top: 5px;
  background-image:url('https://icon-library.com/images/google-search-icon/google-search-icon-13.jpg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 10px 10px;
  background-color:#fff;
  padding:10px;
  padding-left: 40px;
  width: 50%;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  font-size: 1em;
}

.searchbar:hover{
    border-style: groove;
}

.image_search , .advanced_search , .index{
  font-size: 1em;
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  margin: 10px;
}

.image_search:hover , .advanced_search:hover, .index:hover{
  text-decoration: underline;
}

.submit{
  color: #3c4043;
  margin-top: 25px;
  margin-left:5px;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  background-color:#f8f9fa;
  font-size: 14px;
  padding: 10px;
  font: 400 13.3333px Arial;
}

.submit:hover{
  border-style: outset;
}

