* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;

    a {
        font-size: 13px;
        display: inline-block;
        line-height: 24px;
        font-weight: 400;
        color: rgb(0, 0, 0, 0.87);
        cursor: pointer;
        padding: 5px, 10px;
        padding-right: 4px;
        padding-left: 4px;
    }

    a:hover {
        text-decoration: underline;
        opacity: .85;
    }

    img {
        width: 34px;
        padding: 5px;
        margin: auto 7px;
        cursor: pointer;
    }

    img:hover {
        opacity: .8;
    }
}

